* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* gap: 2rem; */
    height: 100vh;
    background-image: linear-gradient(to bottom right, #FFCB9A, gray);
}
.baslik {
    border-bottom: 2px solid black;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    font-size: x-large;
}
input,
button {
  padding: 6px;
  border: none;
  border-radius: 10px;
}

button {
  color: black;
  background-color: lightgrey;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p {
    text-align: center;
    font-size: large;
    padding-top: 1rem;
}
.playagain {
    text-align: center;
    background-color: teal;
    margin-top: 2rem;
    padding: 15px;
    color: black;
    /* width: 150px; */
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chance {
    font-size: larger;
    text-align: center;
    margin-bottom: 1rem;
    
}
span {
    color: crimson;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

